#index { background-position:center; background: url('../IMG/tło.jpg') no-repeat;}
#article1 { color: red;}
#article2 {color: green;}
#article3 {color: #CC6633;}
#article4 {color: #66CC66;}
#article5 {color: #9933CC;}
	* {font-family: 'Nunito', sans-serif;}
ul {
float: left;
width: 100%;
padding: 0;
margin: 0;
list-style: none;
}

li a {
display: block;
float: left;
text-align: center;
font-size: 1.2em;
width: 130px;
text-decoration: none;
color: black;
background: orange;
padding: 10px 15px;
margin: 0px 1px 1px 0px;
border: 1px solid navy;
border-radius: 3px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
box-shadow: 0px 2px 3px orange;
-moz-box-shadow: 0px 2px 3px orange;
-webkit-box-shadow: 0px 2px 3px orange;
}

li a:hover {
color: black;
background: red;
border: 1px solid orange;
}
