body { 
color:rgb(58%,37%,83%);
font-size:30pt;
}
p {
color:#6FAC5F;
font-size:20pt;
}
//100+11=111(10)=6F  150+22=172(10)=AC   50+45=95(10)=5F

//125+22=147(10)=58  50+45=95(10)=37     200+11=211(10)=83